.footer {
    width: 100vw;
    height: 8rem;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    color: var(--clr-secondary);
}

.footer a {
    all: unset;
    font-size: 2rem;
    transition: .2s ease;
    &:hover {
        scale: 1.1;
        color: var(--clr-secondary);
    }
}