.tool-card {
    /* aspect-ratio: 4 / 3; */
    all: unset;
    box-sizing: border-box;
    border-radius: 2rem;
    
    background: var(--clr-primary);
    color: var(--clr-secondary);
    
    display: grid;
    place-items: center;
    padding: 2rem;
    
    text-wrap: pretty;

    &:hover {
        text-decoration: none;
        color: var(--clr-secondary);
    }
}