.tools {
    --min-column-width: 16rem;
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit, 
            minmax(
                min(var(--min-column-width), 100%),
                1fr
            )
        );
    gap: 1rem;

    max-width: 75%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--clr-primary-100);
}